@import "~bootstrap/scss/bootstrap";

@import "components/variabels.scss";
@import "components/menu.scss";
@import "components/products.scss";

body {
	color: $dark;
	margin: 0;
	background-color: #818181;
}

a {
	color: $brown;

	&:hover {
		color: $blue;
	}
}

.catalog {
	padding: 20px;
	text-align: center;
	background-color: #ffffff;
}

@include media-breakpoint-up(sm) {
	.catalog {
		padding: 33px 50px;
	}	
}


@include media-breakpoint-up(lg) {
	.catalog {
		padding: 33px 90px;
	}	
}

@include media-breakpoint-up(xl) {
	.catalog {
		padding: 33px 145px;
	}	
}