.catalog__brands {
	text-align: center;
	padding: 20px 0;
}

.catalog__brands__menu-ul {
	width: 100%;
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0;
	padding: 0;

	li {
		display: flex;
		justify-content: center;
		width: 50%;
		list-style-type: none;
		padding: 5px;
	}

	a {
		display: flex;
	    justify-content: center;
	    align-items: center;
	    padding: 10px;
		color: #77716a;
		width: 100%;
		height: 47px;
		background-color: #f5f3e8;

		&:hover, &.active {
			color: white;
			background-color: $green;
			transition: background-color 0.3s;
		}		 
	}
}



@include media-breakpoint-up(sm) {
	.catalog__brands__menu-ul {
		li {
			width: 50%;
		}
	}
}

@include media-breakpoint-up(md) {
	.catalog__brands__menu-ul {
		width: auto;

		a {
			width: 125px;
			padding: 10px 26px;
			width: 150px;
		}

		li {
			width: 25%;
		}
	}
}