.products__product {
	text-align: left;
	margin-bottom: 45px; 

	.products__product-image {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 20px;
		width: 100%;
		overflow: hidden;

		img {		
			width: 100%;
		}
	}

	.products__product-description {
		color: #3c2f20;

		a, img, span {
			display: block;
		}

		span {
			font-size: 15px;
			margin: 0;
		}

		a {
			font-size: 30px;
			line-height: 32px;

			.font-mini {
				font-size: 20px;
				line-height: 24px;
			}

			&:hover {
				color: #5b84f0;
			}
		}

		img {
			height: 24px;
			width: 72px;
			padding: 5px 13px;
			margin: 7px 0;
			background-color: $green;
		}

		p {
			font-size: 15px;
			line-height: 18px;
		}
	}
}

@include media-breakpoint-up(sm) {

	.products__product .products__product-image {
		height: 200px;
		margin-bottom: 0;
	}
}