/* ----- COLORS -----*/

$cream: #f8f8f8;
$dark:  #1d1813;
$brown: #3c2f20;
$blue:  #5b84f0;
$green: #8fb52c;



$container-max-widths: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);